.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 15rem;
  margin-inline: auto;
  align-items: center; /* Center the content horizontally */

  .list-container {
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%; /* Ensure the list container takes full width of the parent */
    
    .list-item {
      padding: 0.1rem 0;
      border-radius: 0.25rem;
      background-color: #fff;
      border: thin solid #ccc;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      color: black;
      justify-items: center;
      &.heading {
        color: rgb(92, 92, 92);
        font-style: italic;
      }
    }
  }

  .button-container {
    display: flex;
    gap: 2px;
    color: black;
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 0.25rem;
    justify-content: center; /* Center buttons horizontally */
    button {
      border: #ccc;
      background-color: #fff;
      border: thin solid #ccc;
      border-radius: 0.25rem;
      cursor: pointer;
      &.active {
        border-color: rgb(117, 188, 255);
        color: rgb(117, 188, 255);
      }
    }
  }
}
